# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
