<!DOCTYPE html>
<html>
<head>
<title>Select Role</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container vh-100 d-flex align-items-center justify-content-center">

<div class="card p-5 shadow text-center" style="max-width:400px">

<h3 class="mb-4">Continue with Google</h3>
<p class="text-muted">Select your role first</p>

<a href="/accounts/start-google-login/student/" class="btn btn-primary">
I am a Student
</a>

<a href="/accounts/start-google-login/recruiter/" class="btn btn-dark">
I am a Recruiter
</a>

</div>

</div>

</body>
</html>